name: "CodeQL"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        tools: https://github.com/zbazztian/customized-dist/releases/download/codeql-bundle-sdlfj23423/codeql-bundle-linux64.tar.gz
        languages: ${{ matrix.language }}
        #packs: zbazztian/sebastians-query-pack
        #queries: zbazztian/security-and-quality-extended/suites/default.qls@main

    - name: Autobuild
      uses: github/codeql-action/autobuild@v1

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
